.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 1px #888;
    background-color: #E6E6FA;
  }
body {
    background-color: #E3dac9;
}  
#content {
    background-color: #E0FFFF;
}
h1 {
  font-family: serif;
  font-size:300% ;
  color:#6A5ACD ;
}
p {
  margin-left: 30px
}
#header {
  border-style: dashed;
}
img {
  max-width:700px ;
  max-height:700px ;
}
.special {
  background-color: lavender;
  border: dotted 50px red;
  color: pink;
  font-weight: bold;
}