/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 1px #888;
    background-color: #E6E6FA;
  }
body {
    background-color: #E3dac9;
}  
#content {
    background-color: #E0FFFF;
}
h1 {
  font-family: serif;
  font-size:300% ;
  color:#6A5ACD ;
}
p {
  margin-left: 30px
}
#header {
  border-style: dashed;
}
img {
  max-width:700px ;
  max-height:700px ;
}